@model SeaBattle.Client.Models.Ship

@{
    ViewBag.Title = "Add Ship";
}

<h2>Add Ship</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    <form class="needs-validation" novalidate>
        <div class="form-group">
            <label for="ship">Speed</label>
            <input type="number" min="1" class="form-control" id="speed" placeholder="Enter speed" required>
            <div class="invalid-feedback">
            </div>
        </div>

        <div class="form-group">
            <label for="ship">Range</label>
            <input type="number" min="1" class="form-control" id="range" placeholder="Enter range" required>
            <div class="invalid-feedback">
            </div>
        </div>

        <div class="form-group">
            <label for="ship">Length</label>
            <input type="number" min="1" class="form-control" id="length" placeholder="Enter length" required>
            <div class="invalid-feedback">
            </div>
        </div>

        <div class="form-group">
            <label for="ship">TypeID</label>
            <select class="form-control" id="typeID">
                <option>Carrier</option>
                <option>Main</option>
                <option>Support</option>
            </select>
        </div>

        <div class="form-group">
            <label for="ship">DirectionID</label>
            <select class="form-control" id="directionID">
                <option>UP</option>
                <option>DOWN</option>
                <option>LEFT</option>
                <option>RIGHT</option>
            </select>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-primary">Add</button>
            </div>
        </div>
    </form>

    <script>
(function() {
  'use strict';
  window.addEventListener('load', function() {
    var forms = document.getElementsByClassName('needs-validation');
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
    </script>

</div>

}
