@model SeaBattle.Client.Models.Field

@{
    ViewBag.Title = "Initialization Map";
}

    <h2>Initialization Map</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
               <a href="https://localhost:44347/Game/AddShip"><button type="button" class="btn btn-primary" id="field" >Create</button></a>
            </div>
        </div>
    </div>
}


